# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives:__
- List popular languages used for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. scikit-learn

| Data Science Tools |
| ---- |
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes // 60
print("There are %d hours in %d minutes." % (hours, minutes))

There are 3 hours in 200 minutes.

## Author Details
Michael Casey